@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 65% 30%;
    --card: 0 0% 100%;
    --card-foreground: 0 65% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 65% 30%;
    --primary: 0 65% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 85% 79%;
    --secondary-foreground: 0 65% 30%;
    --muted: 0 100% 90%;
    --muted-foreground: 0 20% 50%;
    --accent: 0 85% 79%;
    --accent-foreground: 0 65% 30%;
    --destructive: 0 65% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 100% 90%;
    --input: 0 100% 90%;
    --ring: 0 65% 61%;
    --radius: 0.5rem;
    --chart-1: 0 65% 61%;
    --chart-2: 0 85% 79%;
    --chart-3: 0 100% 90%;
    --chart-4: 0 50% 50%;
    --chart-5: 0 70% 70%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 65% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 85% 79%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 20% 20%;
    --muted-foreground: 0 20% 70%;
    --accent: 0 85% 79%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 65% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 20% 20%;
    --input: 0 20% 20%;
    --ring: 0 65% 61%;
    --chart-1: 0 65% 61%;
    --chart-2: 0 85% 79%;
    --chart-3: 0 100% 90%;
    --chart-4: 0 50% 50%;
    --chart-5: 0 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}
